* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia;
  }
  
body {
    background: url(../photos/fondoheadpods.jpg);
    background-size: cover;
}

header{
    width: auto;
    background: #096aa5;
    box-shadow: 0 0 5px gray;
}
.divbarra{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.titulo{ 
    color: white;
    text-decoration: none;
    font-size: 38px;
    list-style: none;
    font-weight: bold;
    margin: 10px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}
nav{
   padding-top: 20px;
}
nav ul{
	list-style: none;
	margin: 0;
	display: flex;
}
nav li:hover{
	background:rgb(0,0,0,0.1);
    transition: all 0.3s linear;
    cursor: pointer;
}

nav li a{
	padding: 10px 25px;
	display: block;
	text-decoration: none;
	color:white;
	font-weight: bold;
    font-size: 19px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}

.botones{
    margin-top: 14px;
    
}

.botones input{
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 19px;
    border-radius: 20px;
    margin-left: 5px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    box-shadow: 0 0 10px gray;
}

/*TODO LO DE LA BARRA*/



/*TODO LO DEL CENTRO*/
.container{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 29px;
    display: flex; 
    height: 500px;
    background-color: #096aa5;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
}
.texto h1{
    font-size: 24px;
    margin-bottom: -15px;
}
    
.container .texto{
    width: 90%;
	height: 450px;
	background-color: white;
    border-radius: 20px;
    padding: 35px 50px;
    text-align: center;
    margin: auto;
   box-shadow: 0 0 10px gray;

    
}
.entradas{
    padding: 10px;
    width: 90%;
    margin-top: 20px;
    border:none;
    border-radius: 20px;
    box-shadow: 0 0 3px gray;

   outline: none;
   border: 0;
   transition: 0.3s;
}
.entradas:focus{
  box-shadow: 2px 2px 4px 0px grey;
  border-line: 5px;
  border: 1px solid black;

   transition: 0.3s;
}


.fas{
    margin-right:9px;
}
p{
    text-align: left;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 35px
}
p a{
    color: black;
    text-decoration: ;
    font-size: 11px
}
p a:hover{
    color:cornflowerblue;
}
.texto .inicio{
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 18px;
    border-radius: 20px;
    width: 50%;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    box-shadow: 0 0 10px gray;
}
.inicio:hover, .botones input:hover{
    background-color: coral;
    transition: all 0.3s linear;
    cursor: pointer;
}

/*TODO LO DEL CENTRO*/



/*TODO LO DE ABAJO*/
footer p{
	color:white;
	padding: 5px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    text-align: center;
}
footer{
	width:100%;
    background: #096aa5;
    margin: auto;
    text-align: center;
    bottom: 0px;
    position: absolute;
    box-shadow: 0 0 5px gray;
}