* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia;
  }
  
body {
    background: url(../photos/fondoheadpods.jpg);
    background-size: cover;
}

header{
    width: auto;
    background: #096aa5;
    box-shadow: 0 0 5px gray;
}
.divbarra{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.titulo{ 
    color: white;
    text-decoration: none;
    font-size: 38px;
    list-style: none;
    font-weight: bold;
    margin: 10px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}
nav{
   padding-top: 20px;
}
nav ul{
	list-style: none;
	margin: 0;
	display: flex;
}
nav li:hover{
	background: rgb(0,0,0,0.1);
    transition: all 0.3s linear;
    cursor: pointer;
}

nav li a{
	padding: 10px 25px;
	display: block;
	text-decoration: none;
	color:white;
	font-weight: bold;
    font-size: 19px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}

.botones{
    margin-top: 14px;
    
}

.botones input{
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 19px;
    border-radius: 20px;
    margin-left: 5px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    box-shadow: 0 0 10px gray;
}
.botones input:hover, .texto input:hover{
    background-color: coral;
    transition: all 0.3s linear;
    cursor: pointer;
}


.container{
    width: 80%;
    margin: auto;
    padding: 0;
    margin-top: 29px;
    display: flex; 
    border-radius: 30px;
    background-color: white;
}
.container .image{
    width: 50%;
	height: 500px;
	background-image: url(../photos/signopregunta.jpg);
    background-size: contain;
    border-radius: 20px;
        
}
.container .texto{
    width: 50%;
	height: 500px;
	background-color: white;
    border-radius: 20px;
    padding-top: 50px;
    padding-right: 100px;
    
}
.texto .registro{
    margin-left: 150px;
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 20px;
    border-radius: 8px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    box-shadow: 0 0 10px gray;
}

.texto p{
    line-height: 25px;
}
footer p{
	color:white;
	padding: 10px 25px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    text-align: center;
}
footer{
	width:100%;
    background: #096aa5;
    margin: auto;
    text-align: center;
    bottom: 0px;
    position: absolute;
    box-shadow: 0 0 5px gray;
}